global_defs {
}

vrrp_script check_stormui {
        script "/opt/storm/bin/check_stormUi.sh"
        interval 2
    }

vrrp_instance StormUi_HA {
    state BACKUP
    interface eth0
    virtual_router_id 80
    priority {{getv "/host/sid"}}
    advert_int 2
    nopreempt
    unicast_src_ip {{getv "/host/ip"}}
    authentication {
        auth_type PASS
        auth_pass pwd
    }

    virtual_ipaddress { #设置VIP
       {{getv "/cluster/endpoints/reserved_ips/storm_ui_vip/value"}}/24
   }

    track_script {
        check_stormui
    }
}
